.title {
  font-weight: bold;
  font-size: 20px;
}

.div {
  position: fixed;
  left: 50%;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  width: 430px;
  min-height: 160px;
  min-width: 200px;
  max-width: 80%;
  padding: 24px;
  margin-bottom: 25px;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  background: #dbd2d2;
  border: 2px solid maroon;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
}