.taskItem {
  border-top: 1px solid var(--greyE3);
}

.taskItem td {
  padding-top: 19px;
  padding-bottom: 19px;
}

.taskItem td:first-child {
  width: 25px;
}

.taskItem td:last-child {
  width: 14px;
}

.taskItem:last-child td {
  border-bottom: 1px solid var(--greyE3);
}
.taskItem_title {
  display: inline-block;
  line-height: 25px;
}

.taskItem_input {
  border: none;
  background: transparent;
}

.taskItem_input:disabled {
  cursor: pointer;
}

.taskItem_title:focus-visible {
  outline: none;
}

.taskItem_input:active,
.taskItem_input:focus-visible {
  background: var(--greyF4);
  border: none;
  outline: none;
}

.quantity {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  text-align: center;
  padding-top: 5px;
  border: 1px solid var(--silver);
  border-radius: 25px;
}