.sun {
  border-radius: 50%;
  display: block;
  height: 24px;
  overflow: hidden;
  position: relative;
  transition: all .5s ease;
  width: 24px;
  background-color: #000;

  cursor: pointer;
}

.sun:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  animation-duration: .5s;
  border-radius: 50%;
  box-shadow: 7px 0 0 -3.5px var(--lasPalmas),
              -7px 0 0 -3.5px var(--lasPalmas),
              0 -7px 0 -3.5px var(--lasPalmas),
              0 7px 0 -3.5px var(--lasPalmas),
              7px -7px 0 -3.5px var(--lasPalmas),
              7px 7px 0 -3.5px var(--lasPalmas),
              -7px 7px 0 -3.5px var(--lasPalmas),
              -7px -7px 0 -3.5px var(--lasPalmas);
  height: 10px;
  left: 7px;
  top: 7px;
  width: 10px;
}

.size {
  width: 45px;
  height: 45px;
}