.logo {
  padding-left: .6rem;
  color: var(--punch);
  font-size: 24px;
  font-weight: 300;
}

.header {
  height: 70px;
}

@media all and (min-width: 1024px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media all and (max-width: 600px) {
  .header {
    
  }
  .logo {
    display: none;;
  }
}

