.menuItemsList {
  width: 165px;
  padding-left: 0;
  padding-top: 4px;
  padding-bottom: 7px;
}

.dark .menuItemsList {
  background-color: var(--woodyBrown);
}

/* .menuItemsList::after {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 7px solid var(--silver) ;
} */

.menuItem {
  padding: 7px 0 7px 15.5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-weight: 300;
}

.menuItem:first-child {
  margin-top: 13px;
}

.menuItem:hover {
  background-color: var(--greyF4);
  cursor: pointer;
}

.dark .menuItem:hover {
  background-color: var(--cocoaBrown);
}

.menuItem > svg + span {
  margin-left: 9.5px;
}

/* @media all and (min-width: 1540px) {
  .menuItemsList {
    padding: 2px 20px;
  }
} */